//fonts
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

$Gilroy-Bold: "Gilroy-Bold", sans-serif;
$Gilroy-Heavy: "Gilroy-Heavy", sans-serif;
$Gilroy-Light: "Gilroy-Light", sans-serif;
$Gilroy-Medium: "Gilroy-Medium", sans-serif;
$Gilroy-Regular: "Gilroy-Regular", sans-serif;

//color scheme
$background: #f5f6f8;
$primary: #151515;
$secondary: #a9a9a9;
$accent: #6aa5ff;
$accent-light: #fcfdff;

