@use './../../scss/variables' as *;
// * {
//   outline: 1px solid red;
// }
.main {
  padding: 2%;
  background-color: $background;
  margin: auto;
  border-radius: 8px;
  height: 100vh;
}
html {
  height: 100vh;
  background-color: $background;
}

* {
  // outline: 2px solid red;
}
