@use "./../../scss/variables" as *;
#filter-icon {
  margin: auto;
}
#dropdownCheck {
  margin-right: 2%;
  margin-left: 2%;
}
.filter-item {
  margin: 2% 2% 3% 2%;
}

.filter-input {
  border-radius: 6px;
  border: solid 1px #cccc;
  padding: 3%;
}

.dropdown-menu {
  width: 600px;
  min-height: 400px;
  overflow: scroll;
}
* {
  font-family: $Lato;
}
